header.header 
    
        .header-top 
            .container 
                .header__location Санкт-Петербург
                nav.header-nav 
                    a.header-nav__item._discount(href="#")  Акции и скидки
                    a.header-nav__item(href="#")  Оплата и доставка
                    a.header-nav__item(href="#")  Советы по подбору
                    a.header-nav__item(href="#")  Бренды
                    a.header-nav__item(href="#")  Контакты
                    a.header-nav__item(href="#") О компании 
                .header__tel 
                    span Обратный звонок
                    a(href="tel:+7 (495) 730-46-36") +7 (495) 730-46-36
        .header-middle 
            .container 
                a.header__logo(href="#")
                    img(src="Content/images/logo.svg", alt="Fitness Place") 
                .header-search.search
                    input.search__input(type="text")
                    .search__ico
                .header-action 
                    .header-action__item Сравнение
                    .header-action__item Избранное
                    .header-action__item Кабинет
                    .header-action__item Корзина
        .header-bottom 
            .container 
                .header__burger 
                    span
                    span
                    span
                nav.header-catalog 
                    ul.header-catalog-list 
                        li.header-catalog__item 
                            a(href="#").header-catalog__link Велоспорт
                        li.header-catalog__item 
                            a(href="#").header-catalog__link тренажеры
                        li.header-catalog__item 
                            a(href="#").header-catalog__link Фитнес-аксессуары
                        li.header-catalog__item 
                            a(href="#").header-catalog__link Обувь
                        li.header-catalog__item 
                            a(href="#").header-catalog__link Одежда
                        li.header-catalog__item 
                            a(href="#").header-catalog__link Летний отдых
                        li.header-catalog__item._discount
                            a(href="#").header-catalog__link рапродажа
                        li.header-catalog__item 
                            a(href="#").header-catalog__link вднх