
.brands {
    margin-bottom: 52px;

    @media(max-width: 1440px) {
        margin-bottom: 35px;
    }
    @media(max-width: 767px) {
        margin-bottom: 0;
    }
}
.brands-content {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #F0F0F0;
    @media(max-width: 767px) {
        border-bottom: 0;
    }
}

.brands-list {
    padding: 60px 0;
    overflow: hidden;
    width: 100%;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        right: -2px;
        top: 0;
        height: 100%;
        width: 58px;
        background: linear-gradient(270deg, #FFFFFF 37.21%, rgba(255, 255, 255, 0) 100%);
        z-index: 5;
    }
    .swiper-wrapper {
        align-items: center;
    }
    @media(max-width: 1440px) {
        padding: 40px 0;
        
    }
    @media(max-width: 767px) {
        margin-bottom: 0;
    }
}
.brands-prev {
    display: none;
}
.brands-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    z-index: 6;
    @media(max-width: 767px) {
        display: none;
    }
}

.brands__item {
    width: auto;
    img {
        width: auto;
        display: block;
        @media(max-width: 1024px) {
            max-width: 90px;
            width: 100%;
        }
    }
}
.brands__more {
    margin-left: 90px;
    font-weight: 700;
    white-space: nowrap;
    @media(max-width: 1919px) {
        margin-left: 56px;
    }
    @media(max-width: 1024px) {
        margin-left: 25px;
    }
    @media(max-width: 767px) {
        display: none;
    }
}