.news {
    padding: 50px 0;
    &__title {
        margin-bottom: 32px;
        font-size: 40px;
        line-height: 44px;
        font-weight: 700;
    }
    @media(max-width: 1200px) {
        padding: 35px 0;
        &__title {
            font-size: 30px;
            line-height: 1.1;
            margin-bottom: 14px;
        }
    }
}

.goods-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 30px 28px;
    @media(max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 14px 20px;
    }
    @media(max-width: 767px) {
        grid-template-columns: 1fr 1fr;
    }
    @media(max-width: 495px) {
        grid-template-columns: 1fr;
    }
}

.goods-item {
    padding: 64px 32px 30px 32px;
    position: relative;
    border: 2px solid #EAEAEA;
    border-radius: 4px;
    @media(max-width: 1280px) {
        padding: 50px 20px 26px;
    }
}

.goods-item__favorite {
    position: absolute;
    top: 30px;
    right: 32px;
    cursor: pointer;
}

.goods-item__compare {
    position: absolute;
    top: 30px;
    right: 73px;
    cursor: pointer;
}
.goods-item__send {
    position: absolute;
    top: 30px;
    left: 32px;
    cursor: pointer;
}
.goods-item__img {
    margin-bottom: 25px;
    img {
        width: 100%;
        display: block;
    }
    @media(max-width: 767px) {
        max-width: 180px;
        margin: 0 auto 13px;
    }
}
.goods-item__title {

    line-height: 24px;
    font-weight: 700;
    margin-bottom: 17px;
}
.goods-item__mortgage {
    span {
        color: $color-primary;
    }
}
.goods-item__price {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 1;
    margin-top: 8px;
    @media(max-width: 1200px) {
        font-size: 20px;
        line-height: 1.2;
    }
}

.goods-item__add {
    background-color: $color-primary;
    border-radius: 4px;
    position: absolute;
    width: 62px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 30px;
    right: 32px;
    cursor: pointer;
    svg {
        path {
            fill: #fff;
        }
    }
    &:hover {
        opacity: .7;
    }
    @media(max-width: 1280px) {
        width: 42px;
        height: 34px;
        right: 20px;
        bottom: 24px;
    }
}


.shops {
    padding-bottom: 100px;
    @media(max-width: 1200px) {
        padding-bottom: 41px;
    }
    @media(max-width: 767px) {
        padding-bottom: 35px;
    }
}


.shops__title {
    font-size: 40px;
    line-height: 1.4;
    margin-bottom: 32px;
    font-weight: 700;
    @media(max-width: 1200px) {
        font-size: 30px;
        line-height: 1.2;
        margin-bottom: 14px;
    }
}
.shops-content {
    display: flex;
    img {
        width: 100%;
    }
    @media(max-width: 1024px) {
        flex-direction: column;
    }
}

.shops-map {
    margin-right: 30px;
    max-width: 513px;
    width: 100%;
    @media(max-width: 1024px){
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 24px;
        max-height: 270px;
        overflow: hidden;
        img {
            width: 100%;
            display: block;
            object-fit: cover;
        }
    }
}

.shops-adress {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    @media(max-width: 1200px) {
        padding: 20px 0 0 0;
    }
    @media(max-width: 767px) {
        flex-direction: column;
    }
}

.adress-item {
    max-width: 408px;
    &:first-child {
        margin-right: 28px;
    }
    &__title {
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        margin-bottom: 18px;
        @media(max-width: 1024px) {
            font-size: 20px;
            line-height: 1.3;
            margin-bottom: 14px;
        }
        @media(max-width: 767px) {
            margin-bottom: 5px;
        }
        span {
            color: $color-primary;
            display: block;
        }
    }
    &__desc {
        margin-bottom: 20px;
        @media(max-width: 767px) {
            margin-bottom: 6px;
        }
    }
    &__link {
        color: $color-primary;
        font-weight: 700;
    }
    @media(max-width: 767px) {
        max-width: 100%;
        &:first-of-type {
            margin-right: 0;
            margin-bottom: 11px;
        }
    }
}


.submit-banner {
    max-width: 513px;
    width: 100%;
    margin-top: -260px;
    img {
        width: 100%;
        display: block;
    }
    @media(max-width: 1024px) {
        max-width: 270px;
        margin-top: -220px;
    }
    @media(max-width: 767px) {
        max-width: 100%;
        height: 253px;
        overflow: hidden;
        margin-top: 0;
        margin-bottom: 20px;
        img {
            object-fit: cover;
        }
    }
}

.submit-content  {
    display: flex;
    justify-content: space-between;
    @media(max-width: 767px) {
        flex-direction: column-reverse;
    }
}

.submit {
    padding: 94px 0 102px;
    background-color: #F3F3F3;
   
    &__title {
        font-size: 30px;
        max-width: 636px;
        line-height: 1.3;
        margin-bottom: 32px;
        font-weight: 700;
        font-size: 40px;
        line-height: 1.3;
        @media(max-width: 1200px) {
            margin-bottom: 24px;
            font-size: 30px;
        }
    }
    @media(max-width: 767px) {
        padding: 35px 0 40px;
    }
}
.submit-form {
    max-width: 920px;
    width: 100%;
    margin-right: 26px;
}
.form-row {
    display: flex;
    justify-content: space-between;
    @media(max-width: 1200px) {
        flex-direction: column;
    }
}

.form-item {
    width: 100%;
    margin-bottom: 30px;
    @media(max-width: 767px) {
        margin-bottom: 20px;
    }
}
.form__input, .form__textarea {
    width: 100%;
    padding: 22px 32px;
    outline: none;
    border:none;
    background: #FFFFFF;
    border-radius: 4px;
    &::placeholder {
        color:#999999;
    }
}
.form__textarea {
    max-width: 920px;
}
.col-6 {
    width: calc(50% - 15px);
    @media(max-width: 1200px) {
        width: 100%;
    }
}
.form__policy {
    margin-bottom: 15px;
    a {
        color: $color-primary;
    }
}
.form__capcha {
    margin-bottom: 24px;
}


.banner-img  {
    img {
        width: 100%;
        display: block;
    }
}


.blog  {
    padding: 93px 0 100px;
    @media(max-width: 1200px) {
        padding: 36px 0 40px;
    }
}

.blog-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 240px);
    grid-gap: 30px;
    @media(max-width: 991px) {
        grid-template-columns: 1fr;
        grid-template-rows: 360px;
    }
    @media(max-width: 495px) {
        grid-template-rows: 210px;
    }
}

.blog-item {
    background-color: #000;
    &:first-child {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        @media(max-width: 991px) {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
    }
    &:nth-of-type(2) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        @media(max-width: 991px) {
            display: none;
        }
    }
    &:nth-of-type(3) {
        grid-column: 2 / 3;
        grid-row: 2 / -1;
        @media(max-width: 991px) {
            display: none;
        }
    }
}
.blog__title {
    font-size: 40px;
    line-height: 1.3;
    margin-bottom: 33px;
    font-weight: 700;
    @media(max-width: 1200px) {
        font-size: 30px;
        line-height: 1.1;
        margin-bottom: 14px;
    }
}

.news-list {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    @media(max-width: 991px) {
        margin-top: 20px;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    @media(max-width: 495px) {
        grid-template-columns: 1fr;
    }
}
.news-item {
    &__img {
        width: 100%;
        display: block;
        margin-bottom: 23px;
    }
    &__title {
        line-height: 26px;
        span {
            font-weight: 700;
        }
        @media(max-width: 1919px) {
            line-height: 20px;
        }
    }
    @media(max-width: 991px) {
        display: none;
        &:nth-of-type(1) {
            display: block;
        }
        &:nth-of-type(2) {
            display: block;
        }
    }
    @media(max-width: 495px) {
        &:nth-of-type(2) {
            display: none;
        }
    }
}

.afisha  {
    padding: 90px 0;
}
.afisha__title {
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 40px;
    font-weight: 700;
    @media(max-width: 1200px) {
        font-size: 30px;
        margin-bottom: 14px;
    }
}
.afisha-list {
    overflow: hidden;
}
.afisha-item {
    &__img {
        width: 100%;
        display: block;
    }
}