.news {
    padding: 50px 0;
    &__title {
        margin-bottom: 32px;
        font-size: 40px;
        line-height: 44px;
        font-weight: 700;
    }
    @media(max-width: 1200px) {
        padding: 35px 0;
        &__title {
            font-size: 30px;
            line-height: 1.1;
            margin-bottom: 14px;
        }
    }
}

.goods-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 30px 28px;
    @media(max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 14px 20px;
    }
    @media(max-width: 767px) {
        grid-template-columns: 1fr 1fr;
    }
    @media(max-width: 495px) {
        grid-template-columns: 1fr;
    }
}

.goods-item {
    padding: 64px 32px 30px 32px;
    position: relative;
    border: 2px solid #EAEAEA;
    border-radius: 4px;
    @media(max-width: 1280px) {
        padding: 50px 20px 26px;
    }
}
.goods-more {
    margin: 30px auto 0;
    max-width: 218px;
    width: 100%;
    display: block;
}
.goods-item__favorite {
    position: absolute;
    top: 30px;
    right: 32px;
    cursor: pointer;
}

.goods-item__compare {
    position: absolute;
    top: 30px;
    right: 73px;
    cursor: pointer;
}
.goods-item__send {
    position: absolute;
    top: 30px;
    left: 32px;
    cursor: pointer;
}
.goods-item__img {
    margin-bottom: 25px;
    img {
        width: 100%;
        display: block;
    }
    @media(max-width: 767px) {
        max-width: 180px;
        margin: 0 auto 13px;
    }
}
.goods-item__title {

    line-height: 24px;
    font-weight: 700;
    margin-bottom: 17px;
}
.goods-item__mortgage {
    span {
        color: $color-primary;
    }
}
.goods-item__price {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 1;
    margin-top: 8px;
    @media(max-width: 1200px) {
        font-size: 20px;
        line-height: 1.2;
    }
}

.goods-item__add {
    background-color: $color-primary;
    border-radius: 4px;
    position: absolute;
    width: 62px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 30px;
    right: 32px;
    cursor: pointer;
    svg {
        path {
            fill: #fff;
        }
    }
    &:hover {
        opacity: .7;
    }
    @media(max-width: 1280px) {
        width: 42px;
        height: 34px;
        right: 20px;
        bottom: 24px;
    }
}