.header {
    background-color: #fff;
}

.header-top {
    padding: 16px 0 18px;
    border-bottom: 2px solid #F0F0F0;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.header__location  {
    display: flex;
    align-items: center;
    color: $color-primary;
    svg {
        margin-right: 6px;
    }
}
.header__logo {
    img {
        @media(max-width: 1919px) {
            max-width: 150px;
        }
        @media(max-width: 767px) {
            max-width: 113px;
        }
    }
}
.header-nav  {
    margin: 0 auto 0 112px;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: 1fr;
    display: grid;
    grid-gap: 28px;
    &__item {
        color: #999999;
        &._discount {
            font-weight: 700;
            color: #000;
            display: flex;
            align-items: center;
            
            &::before {
                display: block;
                content: url('../images/lightning.svg');
                height: 18px;
                width: 16px;
                margin-right: 10px;
            }
        }
    }
    @media(max-width: 1919px) {
        margin-left: 32px;
    }
    @media(max-width: 1200px) {
        display: none;
    }
}

.header__tel {
    display: flex;
    align-items: center;
    margin-left: 12px;
    font-weight: 700;
    span {
        display: block;
        margin-right: 26px;
        color: #E01F2E;
        font-weight: 400;
        @media(max-width: 1200px) {
            display: none;
        }
    }
    a {
        color: #000;
        white-space: nowrap;
    }
}


.header-middle {
    padding: 20px 0;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header-search {
    margin: 0 auto 0 110px;
    max-width: 770px;
    width: 100%;
    @media(max-width: 1439px) {
        margin-left: 32px;
    }
    @media(max-width: 767px) {
        display: none;
    }
}
.search {
    position: relative;
}

.search__input {
    width: 100%;
    padding: 20px 20px; 
    border: 2px solid #F0F0F0;
    border-radius: 4px;
    outline: none;
    @media(max-width: 1200px) {
        padding: 10px 20px;
    }
}
.search__ico {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.header-action {
    display: grid;
    grid-gap: 27px;
    grid-template-columns: repeat(4, auto);
    margin-left: 32px;
    @media(max-width: 767px) {
        grid-template-columns: repeat(3, auto);
    }
}
.header-action__item  {
    display: flex;
    flex-direction: column;
    align-items: center ;
    span {
        display: block;
        margin-top: 8px;
        color: $color-primary;
        @media(max-width: 1200px) {
            display: none;
        }
    }
    &._search {
        display: none;
    }
    @media(max-width: 767px) {
        &._search {
            display: block;
        }
        &._compare {
            display: none;
        }
        &._favorite {
            display: none;
        }
    }
}
.header-bottom {
    border-top: 2px solid #F0F0F0;
    padding: 16px 0;
    .container {
        display: flex;
        justify-content: space-between;
    }
}

.header-catalog {
    width: 100%;
    display: flex;
    align-items: center;
    &__link {
        font-weight: 700;
        text-transform: uppercase;
        margin-right: 89px;
    }
    @media(max-width: 1919px) {
        margin-right: 12px;
    }
    @media(max-width: 1439px) {
        &__link {
            margin-right: 40px;
        }
    }
    @media(max-width: 1200px) {
        position: relative;
    }
    @media(max-width: 991px) {
        &__link {
            font-size: 14px;
            margin-right: 12px;
        }
    }
    @media(max-width: 767px) {
        display: none;
    }
}
.header-catalog__item {
    &._discount {
        padding-left: 32px;
        background: url('../images/discount.svg') left center / 18px no-repeat;
        @media(max-width: 1200px) {
            padding-left: 0;
            background: none;
        }
    }
}
.header-catalog__subitem  {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-catalog__more {
    // width: 70%;
    // span {
    //     display: none;
    //     @media(max-width: 1024px) {
    //         display: block;
    //         font-weight: 700;
    //         text-transform: uppercase;
    //         &:hover {
    //             .header-catalog-sublist {
    //                 opacity: 1;
    //             }
    //         }
    //     }
    // }
    // @media(max-width: 1024px) {
    //     width: 15%;
    //     display: flex;
    //     justify-content: center;
    //     position: relative;
       
    // }
    // @media(max-width: 767px) {
    //     display: none;
    // }
    display: none;
    @media(max-width: 1200px) {
        display: block;
        font-weight: 700;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        &::after {
            content: '';
            width: 11px;
            display: block;
            margin-left: 7px;
            height: 8px;
            background: url('../images/triangle.svg') center center / 11px no-repeat;
        }
        &:hover {
            .header-catalog__sublist {
                opacity: 1;
            }
        }
    }
    @media(max-width: 991px) {
        font-size: 14px;
    }
}
.header-catalog__sublist {
    width: 43%;
    display: flex;
    align-items: center;
    @media(max-width: 1200px) {
        position: absolute;
        flex-direction: column;
        z-index: 20;
        padding: 10px;
        background-color: #fff;
        align-items: flex-start;
        top: 20px;
        opacity: 1;
        width: 150px;
        right: -50px;
        .header-catalog__item {
            margin-bottom: 8px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    // @media(max-width: 1024px) {

    // }
}
.header-catalog-list {
    width: 57%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media(max-width: 1200px) {
        width: 100%;
        position: relative;
    }
    @media(max-width: 767px) {
        display: none;
    }
}
.header-place {
    font-weight: 700;
    text-transform: uppercase;
}
.header__burger {
    width: 30px;
    height: 16px;
    margin-right: 89px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    span {
        display: block;
        width: 30px;
        height: 2px;
        background-color: #E01F2E;
    }
    @media(max-width: 1919px) {
        margin-right: 32px;
    }
}