
.shops {
    padding-bottom: 100px;
    @media(max-width: 1200px) {
        padding-bottom: 41px;
    }
    @media(max-width: 767px) {
        padding-bottom: 35px;
    }
}


.shops__title {
    font-size: 40px;
    line-height: 1.4;
    margin-bottom: 32px;
    font-weight: 700;
    @media(max-width: 1200px) {
        font-size: 30px;
        line-height: 1.2;
        margin-bottom: 14px;
    }
}
.shops-content {
    display: flex;
    img {
        width: 100%;
    }
    @media(max-width: 1024px) {
        flex-direction: column;
    }
}

.shops-map {
    margin-right: 30px;
    max-width: 513px;
    width: 100%;
    @media(max-width: 1024px){
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 24px;
        max-height: 270px;
        overflow: hidden;
        img {
            width: 100%;
            display: block;
            object-fit: cover;
        }
    }
}

.shops-adress {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    @media(max-width: 1439px) {
        padding: 20px 0 0 0;
    }
    @media(max-width: 767px) {
        flex-direction: column;
    }
}