@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

*, body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Montserrat';
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal; }
  body.scroll {
    height: 100vh;
    overflow: hidden; }

a {
  text-decoration: none;
  color: #010101; }

ul {
  padding-left: 0;
  list-style: none; }

li {
  list-style: none; }

.container {
  max-width: 1680px;
  width: 100%;
  padding: 0 40px;
  margin: 0 auto; }

.header {
  background-color: #fff; }

.header-top {
  padding: 16px 0 18px;
  border-bottom: 2px solid #F0F0F0; }
  .header-top .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.header-nav {
  margin: 0 auto 0 112px;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: 1fr;
  display: grid;
  grid-gap: 28px; }
  .header-nav__item {
    color: #999999; }
    .header-nav__item._discount {
      font-weight: 700;
      color: #000;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .header-nav__item._discount::before {
        display: block;
        content: url("../images/lightning.svg");
        height: 18px;
        width: 16px;
        margin-right: 10px; }

.header__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 12px; }
  .header__tel span {
    display: block;
    margin-right: 26px;
    color: #E01F2E; }
  .header__tel a {
    color: #000; }

.header-middle {
  padding: 20px 0; }
  .header-middle .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.header-search {
  margin: 0 auto 0 110px;
  max-width: 770px;
  width: 100%; }

.search__input {
  width: 100%;
  padding: 20px 20px;
  border: 2px solid #F0F0F0;
  border-radius: 4px;
  outline: none; }

.header-action {
  display: grid;
  grid-gap: 27px;
  grid-template-columns: repeat(4, auto); }

.header-bottom {
  border-top: 2px solid #F0F0F0;
  padding: 16px 0; }
  .header-bottom .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.header-catalog {
  width: 100%; }
  .header-catalog__link {
    font-weight: 700;
    text-transform: uppercase; }

.header-catalog-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header__burger {
  width: 30px;
  height: 16px;
  margin-right: 89px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer; }
  .header__burger span {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #E01F2E; }
  @media (max-width: 991px) {
    .container {
      padding: 0 20px; } }

/*# sourceMappingURL=main.css.map */
