*, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat';
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    &.scroll {
        height: 100vh;
        overflow: hidden;
    }
}

a {
    text-decoration: none;
    color: #010101;
}

ul {
    padding-left: 0;
    list-style: none;
}
li {
    list-style: none;
}

.container {
    max-width: 1680px;
    width: 100%;
    padding: 0 40px;
    margin: 0 auto;
    @media(max-width: 991px) {
        padding: 0 20px;
    }
}

input {
    font-family: 'Montserrat';
}
input::placeholder {
    font-family: 'Montserrat';
    color: $color-text;
}
input:focus::placeholder {
    opacity: 0;
}

.btn {
    width: auto;
    display: inline-block;
    padding: 20px 50px;
    background-color: $color-primary;
    height: 57px;
    outline: none;
    border: none;
    border-radius: 4px;
    color: $color-white;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.2;
    cursor: pointer;
    &:hover {
        background-color: #8f151f;
    }
    &--secondary {
        background-color: #F3F3F3;
        color:$color-black;
        &:hover {
            background-color: #dad5d5;
        }
    }
}

.section__title {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
    display: flex;
    align-items: center;
    &::after {
        content: '';
        width: 30px;
        height: 23px;
        background: url('../images/arrow-title.svg') right center / 30px no-repeat;
        display: block;
        margin-left: 21px;
    }
    @media(max-width: 1200px) {
        font-size: 30px;
        &::after {
            width: 24px;
            height: 18px;
            background-size: 24px;
        }
    }
}

